.link {
  display: block;
  background-color: #3d3b3c;
  color: #eee;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Karla', Helvetica, sans-serif;
  font-weight: 600;
  padding: 15px 0 15px 0;
  margin: 12px 0 11px 0;
  border: 2px solid #3d3b3c;

  &:hover {
    color: #3d3b3c;
    background-color: #eee;
  }
}
